In [2]:
import pandas as pd

In [3]:
data = pd.read_csv("City_of_Seattle_Wage_Data.csv")

In [4]:
# review job title for 'Police Department' data
data[data['Department'] == 'Police Department']['Job Title'].value_counts()

Pol Ofcr-Patrl-BWV       389
Pol Ofcr-BWV             275
Pol Ofcr-Detective       133
Parking Enf Ofcr          96
Pol Sgt-Patrl-BWV         90
                        ...
Pol Capt - Traffic         1
Personnel Spec Trne        1
Pol Sgt-Detective-FIT      1
Manager3,Exempt            1
Actg Tech III *            1
Name: Job Title, Length: 142, dtype: int64

In [5]:
# review 'Police Releif & Pension Fund' data
data[data['Department'] == 'Police Relief & Pension Fund']

,Department,Last Name,First Name,Job Title,Hourly Rate
1211,Police Relief & Pension Fund,Brandes,Janice,Contract Employee *,55.23
2113,Police Relief & Pension Fund,Coleman,Stephanie,Contract Employee *,55.23
6946,Police Relief & Pension Fund,McArthur,Kay,Contract Employee *,55.23
8047,Police Relief & Pension Fund,Oliver,Daniel,Contract Employee *,73.82

In [6]:
# add new column for police dept title groupings
data['Grouped Title'] = 'Other'
data

,Department,Last Name,First Name,Job Title,Hourly Rate,Grouped Title
0,Police Department,Aagard,Lori,Pol Lieut,80.070,Other
1,Police Department,Aakervik,Dag,Pol Ofcr-Detective,60.840,Other
2,Parks & Recreation,Aamot,Allison,Rec Attendant *,17.350,Other
3,Seattle Public Utilities,Aar,Abdimallik,"Civil Engrng Spec,Sr",54.070,Other
4,Parks & Recreation,Aban,Eduardo,"Civil Engr,Sr",58.360,Other
...,...,...,...,...,...,...
11948,Seattle Dept of Human Resource,Zwerin,Steven,Executive1,73.825,Other
11949,Police Department,Zwerling,Fabienne,Admin Staff Anlyst,40.500,Other
11950,Seattle Center,Zwerling,Sheldon,Stage Tech *,33.680,Other
11951,Information Technology,Zwink,Donald,Info Technol Prof A *,64.210,Other
11952,Police Department,Zylak,Carl,Pol Ofcr-Canine,60.310,Other

In [7]:
# group job titles together based on highest value counts

def add_group(df, title):
    df.loc[df['Job Title'].str.contains(title), 'Grouped Title'] = title
    return df


ref = ['Ofcr', 'Sgt', 'Admin', 'Comms', 'Capt', 'Tech', 'Lieut', 'Recruit']
for r in ref:
    data = add_group(data, r)

In [8]:
data

,Department,Last Name,First Name,Job Title,Hourly Rate,Grouped Title
0,Police Department,Aagard,Lori,Pol Lieut,80.070,Lieut
1,Police Department,Aakervik,Dag,Pol Ofcr-Detective,60.840,Ofcr
2,Parks & Recreation,Aamot,Allison,Rec Attendant *,17.350,Other
3,Seattle Public Utilities,Aar,Abdimallik,"Civil Engrng Spec,Sr",54.070,Other
4,Parks & Recreation,Aban,Eduardo,"Civil Engr,Sr",58.360,Other
...,...,...,...,...,...,...
11948,Seattle Dept of Human Resource,Zwerin,Steven,Executive1,73.825,Other
11949,Police Department,Zwerling,Fabienne,Admin Staff Anlyst,40.500,Admin
11950,Seattle Center,Zwerling,Sheldon,Stage Tech *,33.680,Tech
11951,Information Technology,Zwink,Donald,Info Technol Prof A *,64.210,Tech
11952,Police Department,Zylak,Carl,Pol Ofcr-Canine,60.310,Ofcr

In [9]:
# review job title groups for 'Police Department' data
data[data['Department'] == 'Police Department']['Grouped Title'].value_counts()

Ofcr       1236
Other       196
Sgt         165
Comms       126
Admin        94
Recruit      66
Lieut        56
Tech         42
Capt         22
Name: Grouped Title, dtype: int64

In [14]:
data[data['Grouped Title'] == 'Ofcr']

,Department,Last Name,First Name,Job Title,Hourly Rate,Grouped Title
1,Police Department,Aakervik,Dag,Pol Ofcr-Detective,60.840,Ofcr
15,Police Department,Abed,George,Pol Ofcr-Patrl,59.530,Ofcr
24,Seattle Center,Abiraha,Aregawi,Security Ofcr *,27.160,Ofcr
27,Police Department,Abraha,Ytbarek,Parking Enf Ofcr,33.090,Ofcr
31,Finance & Admin Services,Abrahamson,Kaitlin,Animal Contrl Ofcr II,35.850,Ofcr
...,...,...,...,...,...,...
11919,Seattle City Light,Ziemianek,Bernard,"Electric Util Exec 3,Ofcr",125.523,Ofcr
11925,Police Department,Zimmer,Jacob,Pol Ofcr-BWV,45.960,Ofcr
11943,Police Department,Zuray,Joshua,Pol Ofcr-BWV,53.500,Ofcr
11944,Police Department,Zurcher,Richard,Pol Ofcr-Patrl-BWV,61.630,Ofcr
11952,Police Department,Zylak,Carl,Pol Ofcr-Canine,60.310,Ofcr